* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    overflow-x: hidden;
}
#scorekeeper, #highScore {
    font-size: 26px;
}
.gameButtons > button{
    height: 40px;
    color:black;
}
footer {
    width:100%;
    bottom: 0;
}
input {
    border: none;
    border-radius: 5px;
    text-decoration: none;
}